.calendar_form{
	width: 90%;
	margin: 5px auto;
}
.calendar_form>h3{
	margin: 20px;
	text-align: center;
}
.calendar_flex{
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}
.calendar a{
	text-decoration: none;
	border: 1px solid black;
	border-radius: 5px;
	padding: 5px 10px;
}
.calendar_scroll{
	overflow-x: scroll;
}
.calendar table{
	border-collapse: collapse;
	width: 100%;
}
.calendar td{
	border: 2px solid black;
	padding: 5px;
}
.calendar_event h4{
	line-height: 20px;
	text-align: center;
	padding-top: 5px;
}
.calendar select{
	width:100%;
	border: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
	height: 30px;
	border-radius:5px;
	margin: 5px 0;
}
.calendar_date{
	text-align: center;
	width: 100px;
}
.calendar button{
	width: 100%;
	border: none;
	border-radius: 5px;
	padding: 5px 10px;
}
.calendar .add_button{
	background-color: #D07000;
}
.calendar .update_button{
	background-color: #D07000;
}
.calendar .delete_button{
	background-color: #3B9AE1;
	margin-top: 5px;
}
.calendar .text-red{
	color: red;
}
.calendar .text-blue{
	color: blue;
}