
input[type="text"]:hover,
input[type="email"]:hover,
input[type="password"]:hover,
input[type="date"]:hover,
button:hover,
select:hover,
a:hover,
textarea:hover{
    cursor: pointer;
    opacity: 0.8;
}

.default_header{
    height: 50px;
    line-height: 50px;
    display: flex;
    justify-content: space-between;
    border: 2px solid #D07000;
}

.header_title{
    font-size: 20px;
    line-height: 50px;
    text-decoration: none;
    color: black;
    margin-left: 5px;
}
.header_login{
    display: flex;
    font-size: 10px;
}
.header_login a{
    margin-left:5px;
    text-decoration: none;
    color: black;
}
.header_login button{
    margin:0 10px 0 5px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 2px solid #D07000;
    color: #D07000;
    background-color: white;
}

.default_main{
    padding-bottom: 50px;
}

.default_footer{
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100vw;
    background-color: #42032C;
}
.default_footer ul{
    display: flex;
    justify-content: end;
    line-height: 50px;
}
.default_footer li{
    list-style: none;
}
.default_footer a{
    font-size: 10px;
    color: white;
    text-decoration: none;
    margin-right: 5px;
}

.add_button{
    color: white;
	background-color: #D07000;
}
.update_button{
    color: white;
	background-color: #D07000;
}
.delete_button{
    color: white;
	background-color: #3B9AE1;
}

.alert{
    color: rgb(255, 0, 0);
    margin: 10px 0 5px 0;
    text-align: center;
}
.error_li{
    list-style: none;
    color: red;
    margin: 10px 0 5px 0;
    text-align: center;
}