.edit_admin{
    width: 400px;
    margin: 10px auto;
    border-radius:5px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 70px;
}
.edit_admin>h3{
    height: 30px;
    line-height: 30px;
    border-radius:5px 5px 0 0;
    padding: 10px 20px;
    text-align: center;
    color: white;
    background-color: #D07000;
}
.edit_admin>div{
    padding: 5px;
}
.admin_list>form>div{
    padding: 5px;
}
.admin_list:not(:first-of-type){
    border-top: 1px solid black;
    padding-top: 10px;
}
.edit_admin input{
    width: 90%;
    height: 30px;
    border: none;
    margin: 5px 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}
.edit_admin_flex{
    display: flex;
    justify-content: end;
    margin: 5px;
}
.edit_admin button{
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 5px;
}

@media screen and (min-width:769px) {
    .edit_admin{
        width: 90%;
    }
    .admin_lists{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .admin_list{
        width: 45%;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        margin-top: 10px;
    }
}