.dashboard>h3,
.user_list h4{
    height: 30px;
    line-height: 30px;
    padding: 10px 20px;
    text-align: center;
}

.user_list{
    margin: 0 auto;
	width: 350px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    border-radius:5px;
}
.user_list a{
    text-decoration: none;
    color: black;
}
.user_list h4{
    border-radius:5px 5px 0 0;
}
.user_list h4,
.user_list_table_form button{
    color: white;
    background-color: #D07000;
}
.user_list_table{
    margin: 10px auto;
}
.user_list_table td{
    padding: 5px 10px;
}
.user_list_table th:last-child{
    width: 200px;
}
.user_list_table_form,
.user_list_table p {
    text-align: center;
    line-height: 25px;
}
.user_list_table_form select,
.user_list_table_form button{
    border: none;
    border-radius: 5px;
    width: 45%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    height: 25px;
}

.category{
    display: grid;
    grid-template-columns: 90%;
    grid-template-rows: 100px 100px 100px 100px 100px;
    justify-content: center;
    margin-top: 20px;
}
.category a{
    display: flex;
}
.category img{
    margin-left: 5px;
    height: 100%;
}
.category a{
    height: 100%;
    text-decoration: none;
    color: black;
}
.category span{
    display: flex;
    align-items: center;
    margin: 0 auto;
}
.category_mail{
    background-color: #A62349;
}
.category_blog{
    background-color: #D07000;
}
.category_photo{
    background-color: #C55300;
}
.category_event{
    background-color: #96E5D1;
}
.category_user{
    background-color: #FF9551;
}

@media screen and (min-width:769px) {
    .category{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 100px 100px 100px;
        justify-content: center;
        margin: 20px;
    }
}