.verify_email{
    width: 350px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    border-radius:5px;
    margin: 50px auto;
}
.verify_email_form{
    padding: 10px 15px 10px 15px;
}
.form_title,
.button button{
        color: white;
        background-color: #D07000;
}
.form_title{
    text-align: center;
    height: 50px;
    line-height: 50px;
    border-radius:5px 5px 0 0;
}
.alert{
    color: rgb(255, 0, 0);
    margin: 5px;
    text-align: center;
}
.button{
    text-align: end;
}
.button button{
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
}